<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
        integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
    <link href='https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css'>
    <link href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.3/css/font-awesome.css'>
    <style>
        @import url('https://fonts.googleapis.com/css?family=Roboto');

        body {
            font-family: 'Roboto', sans-serif;
        }

        * {
            margin: 0;
            padding: 0;
        }

        i {
            margin-right: 10px;
        }

        /*----------multi-level-accordian-menu------------*/
        .navbar-logo {
            padding: 15px;
            color: #fff;
        }

        .navbar-mainbg {
            background-color: #b9a754;
            padding: 0px;
        }

        #navbarSupportedContent {
            overflow: hidden;
            position: relative;
        }

        #navbarSupportedContent ul {
            padding: 0px;
            margin: 0px;
        }

        #navbarSupportedContent ul li a i {
            margin-right: 10px;
        }

        #navbarSupportedContent li {
            list-style-type: none;
            float: left;
        }

        #navbarSupportedContent ul li a {
            color: rgba(255, 255, 255, 0.5);
            text-decoration: none;
            font-size: 15px;
            display: block;
            padding: 20px 20px;
            transition-duration: 0.6s;
            transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
            position: relative;
        }

        #navbarSupportedContent>ul>li.active>a {
            color: #b9a754;
            background-color: transparent;
            transition: all 0.7s;
        }

        #navbarSupportedContent a:not(:only-child):after {
            content: "\f105";
            position: absolute;
            right: 20px;
            top: 10px;
            font-size: 14px;
            font-family: "Font Awesome 5 Free";
            display: inline-block;
            padding-right: 3px;
            vertical-align: middle;
            font-weight: 900;
            transition: 0.5s;
        }

        #navbarSupportedContent .active>a:not(:only-child):after {
            transform: rotate(90deg);
        }

        .hori-selector {
            display: inline-block;
            position: absolute;
            height: 100%;
            top: 0px;
            left: 0px;
            transition-duration: 0.6s;
            transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
            background-color: #fff;
            border-top-left-radius: 15px;
            border-top-right-radius: 15px;
            margin-top: 10px;
        }

        .hori-selector .right,
        .hori-selector .left {
            position: absolute;
            width: 25px;
            height: 25px;
            background-color: #fff;
            bottom: 10px;
        }

        .hori-selector .right {
            right: -25px;
        }

        .hori-selector .left {
            left: -25px;
        }

        .hori-selector .right:before,
        .hori-selector .left:before {
            content: '';
            position: absolute;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            background-color: #b9a754;
        }

        .hori-selector .right:before {
            bottom: 0;
            right: -25px;
        }

        .hori-selector .left:before {
            bottom: 0;
            left: -25px;
        }




        @media (max-width: 991px) {
            #navbarSupportedContent ul li a {
                padding: 12px 30px;
            }

            .hori-selector {
                margin-top: 0px;
                margin-left: 10px;
                border-radius: 0;
                border-top-left-radius: 25px;
                border-bottom-left-radius: 25px;
            }

            .hori-selector .left,
            .hori-selector .right {
                right: 10px;
            }

            .hori-selector .left {
                top: -25px;
                left: auto;
            }

            .hori-selector .right {
                bottom: -25px;
            }

            .hori-selector .left:before {
                left: -25px;
                top: -25px;
            }

            .hori-selector .right:before {
                bottom: -25px;
                left: -25px;
            }
        }
    </style>

    <style>
        body {
            color: #000;
            overflow-x: hidden;
            height: 100%;
            background: linear-gradient(-45deg, #b9a754 50%, #FFF 50%);
            background-repeat: no-repeat
        }

        .card {
            background-color: #FFF;
            border-radius: 25px;
            box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
            padding: 40px;
            z-index: 0
        }

        .heading {
            font-weight: normal
        }

        .desc {
            font-size: 14px
        }

        #progressbar {
            margin-bottom: 30px;
            overflow: hidden;
            color: lightgrey;
            padding-left: 0px
        }

        #progressbar .active {
            color: #673AB7
        }

        #progressbar li {
            list-style-type: none;
            font-size: 15px;
            width: 25%;
            float: left;
            position: relative;
            font-weight: 400
        }

        #progressbar .step0:before {
            content: ""
        }

        #progressbar li:before {
            width: 40px;
            height: 40px;
            line-height: 45px;
            display: block;
            font-size: 20px;
            background: #E0E0E0;
            border-radius: 50%;
            margin: auto;
            padding: 2px
        }

        #progressbar li:after {
            content: '';
            width: 100%;
            height: 10px;
            background: #E0E0E0;
            position: absolute;
            left: 0;
            top: 17px;
            z-index: -1
        }

        #progressbar li:last-child:after {
            border-top-right-radius: 10px;
            border-bottom-right-radius: 10px
        }

        #progressbar li:first-child:after {
            border-top-left-radius: 10px;
            border-bottom-left-radius: 10px
        }

        #progressbar li.active:before,
        #progressbar li.active:after {
            background: #F9A825
        }

        .sub-heading {
            font-weight: 500
        }

        .yellow-text {
            color: #F9A825
        }

        fieldset.show {
            display: block
        }

        fieldset {
            display: none
        }

        .radio {
            display: inline-block;
            border-radius: 0;
            box-sizing: border-box;
            cursor: pointer;
            color: #BDBDBD;
            font-weight: 500;
            -webkit-filter: grayscale(100%);
            -moz-filter: grayscale(100%);
            -o-filter: grayscale(100%);
            -ms-filter: grayscale(100%);
            filter: grayscale(100%)
        }

        .radio:hover {
            box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.1)
        }

        .radio.selected {
            border: 1px solid #F9A825;
            box-shadow: 0px 8px 16px 0px #EEEEEE;
            color: #29B6F6 !important;
            -webkit-filter: grayscale(0%);
            -moz-filter: grayscale(0%);
            -o-filter: grayscale(0%);
            -ms-filter: grayscale(0%);
            filter: grayscale(0%)
        }

        .card-block {
            border: 1px solid #CFD8DC;
            width: 45%;
            margin: 2.5%;
            padding: 20px 25px 15px 25px
        }

        @media screen and (max-width: 768px) {
            .card-block {
                padding: 20px 20px 0px 20px;
                height: 250px
            }
        }

        .icon {
            width: 85px;
            height: 100px
        }

        .image-icon {
            width: 85px;
            height: 100px;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 20px
        }

        select,
        input,
        textarea,
        button {
            padding: 8px 15px 8px 15px;
            border-radius: 0px;
            margin-bottom: 25px;
            margin-top: 2px;
            width: 100%;
            box-sizing: border-box;
            color: #2C3E50;
            background-color: #ECEFF1;
            border: 1px solid #ccc;
            font-size: 16px;
            letter-spacing: 1px
        }

        select:focus,
        input:focus,
        textarea:focus {
            -moz-box-shadow: none !important;
            -webkit-box-shadow: none !important;
            box-shadow: none !important;
            border: 1px solid skyblue !important;
            outline-width: 0
        }

        button:focus {
            -moz-box-shadow: none !important;
            -webkit-box-shadow: none !important;
            box-shadow: none !important;
            outline-width: 0
        }

        textarea {
            height: 100px
        }

        button {
            width: 120px;
            letter-spacing: 2px
        }

        .fit-image {
            width: 100%;
            object-fit: cover
        }

        .btn-block {
            border-radius: 5px;
            height: 50px;
            font-weight: 500;
            cursor: pointer
        }

        .fa-long-arrow-right {
            float: right;
            margin-top: 4px
        }

        .fa-long-arrow-left {
            float: left;
            margin-top: 4px
        }
    </style>


</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-mainbg">
        <a class="navbar-brand navbar-logo" href="#">BlockCenter</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fas fa-bars text-white"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <div class="hori-selector">
                    <div class="left"></div>
                    <div class="right"></div>
                </div>

                <li class="nav-item">
                    <a class="nav-link" href="home">
                        <i class="fas fa-tachometer-alt">
                            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-file-person"
                                fill="currentColor" xmlns="http://www.w3.org/2000/svg">

                                <path fill-rule="evenodd"
                                    d="M12 1H4a1 1 0 0 0-1 1v10.755S4 11 8 11s5 1.755 5 1.755V2a1 1 0 0 0-1-1zM4 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H4z" />
                                <path fill-rule="evenodd" d="M8 10a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
                            </svg>
                        </i>Identification
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="id"><i class="far fa-address-book">

                            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-cash" fill="currentColor"
                                xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd"
                                    d="M15 4H1v8h14V4zM1 3a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h14a1 1 0 0 0 1-1V4a1 1 0 0 0-1-1H1z" />
                                <path
                                    d="M13 4a2 2 0 0 0 2 2V4h-2zM3 4a2 2 0 0 1-2 2V4h2zm10 8a2 2 0 0 1 2-2v2h-2zM3 12a2 2 0 0 0-2-2v2h2zm7-4a2 2 0 1 1-4 0 2 2 0 0 1 4 0z" />
                            </svg></i>Money

                    </a>

                </li>
                <li class="nav-item">
                    <a class="nav-link" href="estate"><i class="far fa-clone">
                            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-house-fill"
                                fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd"
                                    d="M8 3.293l6 6V13.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5V9.293l6-6zm5-.793V6l-2-2V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5z" />
                                <path fill-rule="evenodd"
                                    d="M7.293 1.5a1 1 0 0 1 1.414 0l6.647 6.646a.5.5 0 0 1-.708.708L8 2.207 1.354 8.854a.5.5 0 1 1-.708-.708L7.293 1.5z" />
                            </svg></i>Real Estates</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="contract"><i class="far fa-calendar-alt"><svg width="1em" height="1em"
                                viewBox="0 0 16 16" class="bi bi-file-text" fill="currentColor"
                                xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd"
                                    d="M4 0h8a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2zm0 1a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H4z" />
                                <path fill-rule="evenodd"
                                    d="M4.5 10.5A.5.5 0 0 1 5 10h3a.5.5 0 0 1 0 1H5a.5.5 0 0 1-.5-.5zm0-2A.5.5 0 0 1 5 8h6a.5.5 0 0 1 0 1H5a.5.5 0 0 1-.5-.5zm0-2A.5.5 0 0 1 5 6h6a.5.5 0 0 1 0 1H5a.5.5 0 0 1-.5-.5zm0-2A.5.5 0 0 1 5 4h6a.5.5 0 0 1 0 1H5a.5.5 0 0 1-.5-.5z" />
                            </svg></i>Contracts</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="government"><i class="far fa-chart-bar"><svg width="1em" height="1em"
                                viewBox="0 0 16 16" class="bi bi-building" fill="currentColor"
                                xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd"
                                    d="M14.763.075A.5.5 0 0 1 15 .5v15a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5V14h-1v1.5a.5.5 0 0 1-.5.5h-9a.5.5 0 0 1-.5-.5V10a.5.5 0 0 1 .342-.474L6 7.64V4.5a.5.5 0 0 1 .276-.447l8-4a.5.5 0 0 1 .487.022zM6 8.694L1 10.36V15h5V8.694zM7 15h2v-1.5a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 .5.5V15h2V1.309l-7 3.5V15z" />
                                <path
                                    d="M2 11h1v1H2v-1zm2 0h1v1H4v-1zm-2 2h1v1H2v-1zm2 0h1v1H4v-1zm4-4h1v1H8V9zm2 0h1v1h-1V9zm-2 2h1v1H8v-1zm2 0h1v1h-1v-1zm2-2h1v1h-1V9zm0 2h1v1h-1v-1zM8 7h1v1H8V7zm2 0h1v1h-1V7zm2 0h1v1h-1V7zM8 5h1v1H8V5zm2 0h1v1h-1V5zm2 0h1v1h-1V5zm0-2h1v1h-1V3z" />
                            </svg></i>Governmental
                        Services</a>

                </li>

                <li class="nav-item">
                    <a class="nav-link" href="car"> <i class="fa fa-car"></i>My Car</a>

                </li>


            </ul>
        </div>
    </nav>

    <div class="container-fluid px-1 py-5 mx-auto">
        <div class="row d-flex justify-content-center">
            <div class="col-xl-5 col-lg-6 col-md-7">
                <div class="card b-0">
                    <h3 class="heading">self executed loan contract</h3>
                    <p class="desc">Fill out the loan contract<br>to start
                        protecting your business today!</p>
                    <ul id="progressbar" class="text-center">
                        <li class="active step0" id="step1"></li>
                        <li class="step0" id="step2"></li>
                        <li class="step0" id="step3"></li>

                    </ul>
                    <fieldset class="show">
                        <div class="form-card">
                            <h5 class="sub-heading">Select Service(s)</h5>
                            <div class="row px-1 radio-group">
                                <div class="card-block text-center radio selected">
                                    <div class="image-icon"> <img class="icon icon1"
                                            src="https://i.imgur.com/vZxfo9x.png"> </div>
                                    <p class="sub-desc">fill out the Contract </p>
                                </div>


                                <div class="card-block text-center radio">
                                    <div class="image-icon"> <img class="icon icon1 fit-image"
                                            src="https://i.imgur.com/6qK7u8Q.png"> </div>
                                    <p class="sub-desc">witness permission</p>
                                </div>
                            </div> <button id="next1" class="btn-block btn-primary mt-3 mb-1 next">NEXT<span
                                    class="fa fa-long-arrow-right"></span></button>
                        </div>
                    </fieldset>


                    <fieldset>
                        <form action="/loanContract" method="POST">
                            <div class="form-card">
                                <h5 class="sub-heading mb-4">Lender Details</h5> <label class="text-danger mb-3">*
                                    Required</label>
                                <div class="form-group"> <label class="form-control-label">Lender ID * :</label>
                                    <input type="text" id="lenderId" name="lenderId" placeholder="" class="form-control"
                                        onblur="validate1(1)">
                                </div>
                                <div class="form-group"> <label class="form-control-label">private key* :</label>
                                    <input type="text" id="privatekey" name="privatekey" placeholder=""
                                        class="form-control" onblur="validate1(1)">
                                </div>
                                <div class="form-group"> <label class="form-control-label">lender Amount *
                                        :</label>
                                    <input type="text" id="amount" name="amount" placeholder="" class="form-control"
                                        onblur="validate1(2)">
                                </div>
                                <div class="form-group"> <label class="form-control-label">Lender Name *
                                        :</label>
                                    <input type="text" id="lendername" name="lendername" placeholder=""
                                        class="form-control" onblur="validate1(3)">
                                </div>
                                <div class="form-group"> <label class="form-control-label">Lender Bank Name*
                                        :</label>
                                    <input type="text" id="lenderbankname" name="lenderbankname" placeholder=""
                                        class="form-control" onblur="validate1(3)">
                                </div>
                                <div class="form-group"> <label class="form-control-label">Lender address*
                                        :</label>
                                    <input type="text" id="lenderaddressr" name="lenderaddress" placeholder=""
                                        class="form-control" onblur="validate1(3)">
                                </div>
                                <div class="form-group"> <label class="form-control-label">Benefit* :</label>
                                    <input type="text" id="benefit" name="benefit" placeholder="" class="form-control"
                                        onblur="validate1(3)">
                                </div>
                                <div class="form-group"> <label class="form-control-label">Lender col No. *
                                        :</label>
                                    <input type="number" id="lendercolno" name="lendercolno" placeholder=""
                                        class="form-control" onblur="validate1(4)">
                                </div>
                            </div>
                            <div class="form-card">
                                <h5 class="sub-heading mb-4">Borrower Details</h5> <label class="text-danger mb-3">*
                                    Required</label>
                                <div class="form-group"> <label class="form-control-label">borrower ID * :</label>
                                    <input type="text" id="borrowerId" name="borrowerId" placeholder=""
                                        class="form-control" onblur="validate2(1)">
                                </div>
                                <div class="form-group"> <label class="form-control-label">borrower Bank Name *
                                        :</label>
                                    <input type="text" id="borrowerbankname" name="borrowerbankname" placeholder=""
                                        class="form-control" onblur="validate2(2)">
                                </div>
                                <div class="form-group"> <label class="form-control-label">borrower col No * :</label>
                                    <input type="number" id="borrowercolno" name="borrowercolno" placeholder=""
                                        class="form-control" onblur="validate2(3)">
                                </div>
                                <div class="form-group"> <label class="form-control-label">Pay* :</label>
                                    <input type="number" id="pay" name="pay" placeholder="" class="form-control"
                                        onblur="validate2(4)">
                                </div>
                                <div class="form-group"> <label class="form-control-label">borrower Name * :</label>
                                    <input type="text" id="borrowername" name="borrowername" placeholder=""
                                        class="form-control" onblur="validate2(3)">
                                </div>
                                <div class="form-group"> <label class="form-control-label">End Date *
                                        :</label>
                                    <input type="text" id="endDate" name="endDate" placeholder="" class="form-control"
                                        onblur="validate2(3)">
                                </div>
                                <div class="form-group"> <label class="form-control-label">borrower address * :</label>
                                    <input type="text" id="borroweraddressr" name="borroweraddress" placeholder=""
                                        class="form-control" onblur="validate2(3)">
                                </div>
                                <div class="form-group"> <label class="form-control-label">Guarantee * :</label>
                                    <input type="text" id="guarantee" name="guarantee" placeholder=""
                                        class="form-control" onblur="validate2(3)">
                                </div>


                            </div>

                            <button type="submit" id="next3" class="btn-block btn-primary mt-3 mb-1 next mt-4">SUBMIT
                                CONTRACT<span class="fa fa-long-arrow-right"></span></button>


                </div>
                </form>
                </fieldset>









            </div>

        </div>
    </div>
    </div>
    </div>




    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
        crossorigin="anonymous"></script>


    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js"
        integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s"
        crossorigin="anonymous"></script>
    <script src='https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>

    <script>



        // ---------Responsive-navbar-active-animation-----------
        function test() {
            var tabsNewAnim = $('#navbarSupportedContent');
            var selectorNewAnim = $('#navbarSupportedContent').find('li').length;
            var activeItemNewAnim = tabsNewAnim.find('.active');
            var activeWidthNewAnimHeight = activeItemNewAnim.innerHeight();
            var activeWidthNewAnimWidth = activeItemNewAnim.innerWidth();
            var itemPosNewAnimTop = activeItemNewAnim.position();
            var itemPosNewAnimLeft = activeItemNewAnim.position();
            $(".hori-selector").css({
                "top": itemPosNewAnimTop.top + "px",
                "left": itemPosNewAnimLeft.left + "px",
                "height": activeWidthNewAnimHeight + "px",
                "width": activeWidthNewAnimWidth + "px"
            });
            $("#navbarSupportedContent").on("click", "li", function (e) {
                $('#navbarSupportedContent ul li').removeClass("active");
                $(this).addClass('active');
                var activeWidthNewAnimHeight = $(this).innerHeight();
                var activeWidthNewAnimWidth = $(this).innerWidth();
                var itemPosNewAnimTop = $(this).position();
                var itemPosNewAnimLeft = $(this).position();
                $(".hori-selector").css({
                    "top": itemPosNewAnimTop.top + "px",
                    "left": itemPosNewAnimLeft.left + "px",
                    "height": activeWidthNewAnimHeight + "px",
                    "width": activeWidthNewAnimWidth + "px"
                });
            });
        }
        $(document).ready(function () {
            setTimeout(function () { test(); });
        });
        $(window).on('resize', function () {
            setTimeout(function () { test(); }, 500);
        });
        $(".navbar-toggler").click(function () {
            setTimeout(function () { test(); });
        });
    </script>
    <script>
        function validate1(val) {
            v1 = document.getElementById("fname");
            v2 = document.getElementById("lname");
            v3 = document.getElementById("email");
            v4 = document.getElementById("mob");

            flag1 = true;
            flag2 = true;
            flag3 = true;
            flag4 = true;

            if (val >= 1 || val == 0) {
                if (v1.value == "") {
                    v1.style.borderColor = "red";
                    flag1 = false;
                }
                else {
                    v1.style.borderColor = "green";
                    flag1 = true;
                }
            }

            if (val >= 2 || val == 0) {
                if (v2.value == "") {
                    v2.style.borderColor = "red";
                    flag2 = false;
                }
                else {
                    v2.style.borderColor = "green";
                    flag2 = true;
                }
            }

            if (val >= 3 || val == 0) {
                if (v3.value == "") {
                    v3.style.borderColor = "red";
                    flag3 = false;
                }
                else {
                    v3.style.borderColor = "green";
                    flag3 = true;
                }
            }

            if (val >= 4 || val == 0) {
                if (v4.value == "") {
                    v4.style.borderColor = "red";
                    flag4 = false;
                }
                else {
                    v4.style.borderColor = "green";
                    flag4 = true;
                }
            }

            flag = flag1 && flag2 && flag3 && flag4;

            return flag;
        }

        function validate2(val) {
            v1 = document.getElementById("cname");
            v2 = document.getElementById("zip");
            v3 = document.getElementById("state");
            v4 = document.getElementById("city");

            flag1 = true;
            flag2 = true;
            flag3 = true;
            flag4 = true;

            if (val >= 1 || val == 0) {
                if (v1.value == "") {
                    v1.style.borderColor = "red";
                    flag1 = false;
                }
                else {
                    v1.style.borderColor = "green";
                    flag1 = true;
                }
            }

            if (val >= 2 || val == 0) {
                if (v2.value == "") {
                    v2.style.borderColor = "red";
                    flag2 = false;
                }
                else {
                    v2.style.borderColor = "green";
                    flag2 = true;
                }
            }

            if (val >= 3 || val == 0) {
                if (v3.value == "") {
                    v3.style.borderColor = "red";
                    flag3 = false;
                }
                else {
                    v3.style.borderColor = "green";
                    flag3 = true;
                }
            }

            if (val >= 4 || val == 0) {
                if (v4.value == "") {
                    v4.style.borderColor = "red";
                    flag4 = false;
                }
                else {
                    v4.style.borderColor = "green";
                    flag4 = true;
                }
            }

            flag = flag1 && flag2 && flag3 && flag4;

            return flag;
        }

        $(document).ready(function () {

            var current_fs, next_fs, previous_fs;

            $(".next").click(function () {

                str1 = "next1";
                str2 = "next2";
                str3 = "next3";

                if (!str2.localeCompare($(this).attr('id')) && validate1(0) == true) {
                    val2 = true;
                }
                else {
                    val2 = false;
                }

                if (!str3.localeCompare($(this).attr('id')) && validate2(0) == true) {
                    val3 = true;
                }
                else {
                    val3 = false;
                }

                if (!str1.localeCompare($(this).attr('id')) || (!str2.localeCompare($(this).attr('id')) && val2 == true) || (!str3.localeCompare($(this).attr('id')) && val3 == true)) {
                    current_fs = $(this).parent().parent();
                    next_fs = $(this).parent().parent().next();

                    $(current_fs).removeClass("show");
                    $(next_fs).addClass("show");

                    $("#progressbar li").eq($("fieldset").index(next_fs)).addClass("active");

                    current_fs.animate({}, {
                        step: function () {

                            current_fs.css({
                                'display': 'none',
                                'position': 'relative'
                            });

                            next_fs.css({
                                'display': 'block'
                            });
                        }
                    });
                }
            });

            $(".prev").click(function () {

                current_fs = $(this).parent().parent();
                previous_fs = $(this).parent().parent().prev();

                $(current_fs).removeClass("show");
                $(previous_fs).addClass("show");

                $("#progressbar li").eq($("fieldset").index(next_fs)).removeClass("active");

                current_fs.animate({}, {
                    step: function () {

                        current_fs.css({
                            'display': 'none',
                            'position': 'relative'
                        });

                        previous_fs.css({
                            'display': 'block'
                        });
                    }
                });
            });

            $('.radio-group .radio').click(function () {
                $(this).toggleClass('selected');
            });

        });
    </script>

</body>

</html>