<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
        integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">




    <style>
        @import url('https://fonts.googleapis.com/css?family=Roboto');

        body {
            font-family: 'Roboto', sans-serif;

        }

        * {
            margin: 0;
            padding: 0;
        }

        i {
            margin-right: 10px;
        }

        /*----------multi-level-accordian-menu------------*/
        .navbar-logo {
            padding: 15px;
            color: #fff;
        }

        .navbar-mainbg {
            background-color: #b9a754;
            padding: 0px;
        }

        #navbarSupportedContent {
            overflow: hidden;
            position: relative;
        }

        #navbarSupportedContent ul {
            padding: 0px;
            margin: 0px;
        }

        #navbarSupportedContent ul li a i {
            margin-right: 10px;
        }

        #navbarSupportedContent li {
            list-style-type: none;
            float: left;
        }

        #navbarSupportedContent ul li a {
            color: rgba(255, 255, 255, 0.5);
            text-decoration: none;
            font-size: 15px;
            display: block;
            padding: 20px 20px;
            transition-duration: 0.6s;
            transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
            position: relative;
        }

        #navbarSupportedContent>ul>li.active>a {
            color: #b9a754;
            background-color: transparent;
            transition: all 0.7s;
        }

        #navbarSupportedContent a:not(:only-child):after {
            content: "\f105";
            position: absolute;
            right: 20px;
            top: 10px;
            font-size: 14px;
            font-family: "Font Awesome 5 Free";
            display: inline-block;
            padding-right: 3px;
            vertical-align: middle;
            font-weight: 900;
            transition: 0.5s;
        }

        #navbarSupportedContent .active>a:not(:only-child):after {
            transform: rotate(90deg);
        }

        .hori-selector {
            display: inline-block;
            position: absolute;
            height: 100%;
            top: 0px;
            left: 0px;
            transition-duration: 0.6s;
            transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
            background-color: #fff;
            border-top-left-radius: 15px;
            border-top-right-radius: 15px;
            margin-top: 10px;
        }

        .hori-selector .right,
        .hori-selector .left {
            position: absolute;
            width: 25px;
            height: 25px;
            background-color: #fff;
            bottom: 10px;
        }

        .hori-selector .right {
            right: -25px;
        }

        .hori-selector .left {
            left: -25px;
        }

        .hori-selector .right:before,
        .hori-selector .left:before {
            content: '';
            position: absolute;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            background-color: #b9a754;
        }

        .hori-selector .right:before {
            bottom: 0;
            right: -25px;
        }

        .hori-selector .left:before {
            bottom: 0;
            left: -25px;
        }




        @media (max-width: 991px) {
            #navbarSupportedContent ul li a {
                padding: 12px 30px;
            }

            .hori-selector {
                margin-top: 0px;
                margin-left: 10px;
                border-radius: 0;
                border-top-left-radius: 25px;
                border-bottom-left-radius: 25px;
            }

            .hori-selector .left,
            .hori-selector .right {
                right: 10px;
            }

            .hori-selector .left {
                top: -25px;
                left: auto;
            }

            .hori-selector .right {
                bottom: -25px;
            }

            .hori-selector .left:before {
                left: -25px;
                top: -25px;
            }

            .hori-selector .right:before {
                bottom: -25px;
                left: -25px;
            }
        }
    </style>

    <style type="text/css">
        p {
            margin: 0;
            padding: 0;
        }

        .ft10 {
            font-size: 12px;
            font-family: Times;
            color: #4b5062;
        }

        .ft11 {
            font-size: 33px;
            font-family: Times;
            color: #050a33;
        }

        .ft12 {
            font-size: 21px;
            font-family: Times;
            color: #050a33;
        }

        .ft13 {
            font-size: 12px;
            font-family: Times;
            color: #050a33;
        }

        .ft14 {
            font-size: 12px;
            font-family: Times;
            color: #828282;
        }

        .ft15 {
            font-size: 11px;
            font-family: Times;
            color: #000000;
        }
    </style>

    <style type="text/css">
        p {
            margin: 0;
            padding: 0;
        }

        .ft20 {
            font-size: 21px;
            font-family: Times;
            color: #050a33;
        }

        .ft21 {
            font-size: 12px;
            font-family: Times;
            color: #000000;
        }

        .ft22 {
            font-size: 12px;
            font-family: Times;
            color: #000000;
        }

        .ft23 {
            font-size: 12px;
            font-family: Times;
            color: #050a33;
        }

        .ft24 {
            font-size: 12px;
            font-family: Times;
            color: #4b5062;
        }

        .ft25 {
            font-size: 12px;
            font-family: Times;
            color: #828282;
        }

        .ft26 {
            font-size: 11px;
            font-family: Times;
            color: #000000;
        }
    </style>

</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-mainbg">
        <a class="navbar-brand navbar-logo" href="#">BlockCenter</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fas fa-bars text-white"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <div class="hori-selector">
                    <div class="left"></div>
                    <div class="right"></div>
                </div>

                <li class="nav-item">
                    <a class="nav-link" href="home">
                        <i class="fas fa-tachometer-alt">
                            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-file-person"
                                fill="currentColor" xmlns="http://www.w3.org/2000/svg">

                                <path fill-rule="evenodd"
                                    d="M12 1H4a1 1 0 0 0-1 1v10.755S4 11 8 11s5 1.755 5 1.755V2a1 1 0 0 0-1-1zM4 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H4z" />
                                <path fill-rule="evenodd" d="M8 10a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
                            </svg>
                        </i>Identification
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="id"><i class="far fa-address-book">

                            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-cash" fill="currentColor"
                                xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd"
                                    d="M15 4H1v8h14V4zM1 3a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h14a1 1 0 0 0 1-1V4a1 1 0 0 0-1-1H1z" />
                                <path
                                    d="M13 4a2 2 0 0 0 2 2V4h-2zM3 4a2 2 0 0 1-2 2V4h2zm10 8a2 2 0 0 1 2-2v2h-2zM3 12a2 2 0 0 0-2-2v2h2zm7-4a2 2 0 1 1-4 0 2 2 0 0 1 4 0z" />
                            </svg></i>Money

                    </a>

                </li>
                <li class="nav-item">
                    <a class="nav-link" href="estate">
                        <i class="far fa-clone">
                            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-house-fill"
                                fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd"
                                    d="M8 3.293l6 6V13.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5V9.293l6-6zm5-.793V6l-2-2V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5z" />
                                <path fill-rule="evenodd"
                                    d="M7.293 1.5a1 1 0 0 1 1.414 0l6.647 6.646a.5.5 0 0 1-.708.708L8 2.207 1.354 8.854a.5.5 0 1 1-.708-.708L7.293 1.5z" />

                            </svg></i>Real Estates</a>
                </li>
                <li class="nav-item active ">
                    <a class="nav-link" href="contract" href="id.ejs"><i class="far fa-calendar-alt"><svg width="1em"
                                height="1em" viewBox="0 0 16 16" class="bi bi-file-text" fill="currentColor"
                                xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd"
                                    d="M4 0h8a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2zm0 1a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H4z" />
                                <path fill-rule="evenodd"
                                    d="M4.5 10.5A.5.5 0 0 1 5 10h3a.5.5 0 0 1 0 1H5a.5.5 0 0 1-.5-.5zm0-2A.5.5 0 0 1 5 8h6a.5.5 0 0 1 0 1H5a.5.5 0 0 1-.5-.5zm0-2A.5.5 0 0 1 5 6h6a.5.5 0 0 1 0 1H5a.5.5 0 0 1-.5-.5zm0-2A.5.5 0 0 1 5 4h6a.5.5 0 0 1 0 1H5a.5.5 0 0 1-.5-.5z" />
                            </svg></i>Contracts</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="government"><i class="far fa-chart-bar"><svg width="1em" height="1em"
                                viewBox="0 0 16 16" class="bi bi-building" fill="currentColor"
                                xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd"
                                    d="M14.763.075A.5.5 0 0 1 15 .5v15a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5V14h-1v1.5a.5.5 0 0 1-.5.5h-9a.5.5 0 0 1-.5-.5V10a.5.5 0 0 1 .342-.474L6 7.64V4.5a.5.5 0 0 1 .276-.447l8-4a.5.5 0 0 1 .487.022zM6 8.694L1 10.36V15h5V8.694zM7 15h2v-1.5a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 .5.5V15h2V1.309l-7 3.5V15z" />
                                <path
                                    d="M2 11h1v1H2v-1zm2 0h1v1H4v-1zm-2 2h1v1H2v-1zm2 0h1v1H4v-1zm4-4h1v1H8V9zm2 0h1v1h-1V9zm-2 2h1v1H8v-1zm2 0h1v1h-1v-1zm2-2h1v1h-1V9zm0 2h1v1h-1v-1zM8 7h1v1H8V7zm2 0h1v1h-1V7zm2 0h1v1h-1V7zM8 5h1v1H8V5zm2 0h1v1h-1V5zm2 0h1v1h-1V5zm0-2h1v1h-1V3z" />
                            </svg></i>Governmental
                        Services</a>

                </li>


                <li class="nav-item">
                    <a class="nav-link" href="car"> <i class="fa fa-car"></i>My Car</a>

                </li>

            </ul>
        </div>
    </nav>

    <div id="page1-div" style="position:relative;width:892px;height:1262px;">
        <img width="892" height="1262"
            src="https://bl3302files.storage.live.com/y4mnV9AdxSTgX5akM-ForNK_8TM6LJRSRII5ViLISdkKwhzaqhJy7T8jBgG1LpB9Lw0oYsmXJMJFgSeu4KHFV2T6enQjTaHROyvF-OTVB0oZyFAgZcSibHvQwG7PKBdaP6rZ4d13zJXXfw-NlSV33gkadt9NP1hTBO3pYW6CEkLsjh_SdJ7iExtoW3U-lXpJoU_?width=892&height=1263&cropmode=none"
            alt="background image" />
        <p style="position:absolute;top:52px;left:757px;white-space:nowrap" class="ft10">01/13/2019</p>
        <p style="position:absolute;top:75px;left:189px;white-space:nowrap" class="ft11"><b>Free Loan Agreement</b></p>
        <p style="position:absolute;top:174px;left:65px;white-space:nowrap" class="ft12">
            <b>Borrower's&#160;Information</b>
        </p>
        <p style="position:absolute;top:233px;left:452px;white-space:nowrap" class="ft13"><b>Email</b></p>
        <p style="position:absolute;top:256px;left:452px;white-space:nowrap" class="ft10">jrkorson@example.com</p>
        <p style="position:absolute;top:235px;left:65px;white-space:nowrap" class="ft13"><b>Name</b></p>
        <p style="position:absolute;top:259px;left:65px;white-space:nowrap" class="ft10">Bartel&#160;O'Monahan</p>
        <p style="position:absolute;top:292px;left:65px;white-space:nowrap" class="ft13"><b>Address</b></p>
        <p style="position:absolute;top:316px;left:65px;white-space:nowrap" class="ft10">7382&#160;School&#160;Avenue
        </p>
        <p style="position:absolute;top:334px;left:65px;white-space:nowrap" class="ft10">Lynn,&#160;Ma,&#160;01905</p>
        <p style="position:absolute;top:352px;left:65px;white-space:nowrap" class="ft10">United&#160;States</p>
        <p style="position:absolute;top:304px;left:452px;white-space:nowrap" class="ft13"><b>Phone&#160;Number</b></p>
        <p style="position:absolute;top:327px;left:452px;white-space:nowrap" class="ft10">(60)&#160;601-8664</p>
        <p style="position:absolute;top:373px;left:452px;white-space:nowrap" class="ft13"><b>Birth&#160;Date</b></p>
        <p style="position:absolute;top:397px;left:452px;white-space:nowrap" class="ft10">October&#160;17,&#160;1957</p>
        <p style="position:absolute;top:388px;left:65px;white-space:nowrap" class="ft13"><b>References</b></p>
        <p style="position:absolute;top:419px;left:116px;white-space:nowrap" class="ft13"><b>Full&#160;Name</b></p>
        <p style="position:absolute;top:419px;left:277px;white-space:nowrap" class="ft13"><b>Phone&#160;Number</b></p>
        <p style="position:absolute;top:452px;left:73px;white-space:nowrap" class="ft10">Etiam&#160;at</p>
        <p style="position:absolute;top:452px;left:250px;white-space:nowrap" class="ft10">Mauris&#160;bibendum</p>
        <p style="position:absolute;top:485px;left:73px;white-space:nowrap" class="ft10">Mauris&#160;bibendum</p>
        <p style="position:absolute;top:485px;left:250px;white-space:nowrap" class="ft10">Auctor&#160;ac&#160;sem</p>
        <p style="position:absolute;top:517px;left:73px;white-space:nowrap" class="ft10">Condimentum&#160;arcu</p>
        <p style="position:absolute;top:517px;left:250px;white-space:nowrap" class="ft10">Arcu&#160;mollis</p>
        <p style="position:absolute;top:550px;left:73px;white-space:nowrap" class="ft10">Etiam&#160;at</p>
        <p style="position:absolute;top:550px;left:250px;white-space:nowrap" class="ft10">
            Pellentesque&#160;in&#160;magna</p>
        <p style="position:absolute;top:583px;left:73px;white-space:nowrap" class="ft10">Consectetur&#160;adipiscing</p>
        <p style="position:absolute;top:583px;left:250px;white-space:nowrap" class="ft10">Lorem&#160;ipsum</p>
        <p style="position:absolute;top:615px;left:73px;white-space:nowrap" class="ft10">Lacinia&#160;ac</p>
        <p style="position:absolute;top:615px;left:250px;white-space:nowrap" class="ft10">Purus&#160;bibendum</p>
        <p style="position:absolute;top:442px;left:452px;white-space:nowrap" class="ft13">
            <b>Security/Collateral&#160;items</b>
        </p>
        <p style="position:absolute;top:466px;left:452px;white-space:nowrap" class="ft10">Praesent&#160;blandit.&#160;N
        </p>
        <p style="position:absolute;top:696px;left:65px;white-space:nowrap" class="ft12">
            <b>Lender's&#160;Information</b>
        </p>
        <p style="position:absolute;top:756px;left:65px;white-space:nowrap" class="ft13"><b>Name</b></p>
        <p style="position:absolute;top:779px;left:65px;white-space:nowrap" class="ft10">Sari&#160;Letham</p>
        <p style="position:absolute;top:756px;left:452px;white-space:nowrap" class="ft13"><b>Address</b></p>
        <p style="position:absolute;top:779px;left:452px;white-space:nowrap" class="ft10">7382&#160;School&#160;Avenu
        </p>
        <p style="position:absolute;top:797px;left:452px;white-space:nowrap" class="ft10">Lynn,&#160;Ma,&#160;01905</p>
        <p style="position:absolute;top:815px;left:452px;white-space:nowrap" class="ft10">United&#160;States</p>
        <p style="position:absolute;top:813px;left:65px;white-space:nowrap" class="ft13"><b>Phone&#160;Number</b></p>
        <p style="position:absolute;top:837px;left:65px;white-space:nowrap" class="ft10">(46)&#160;955-4935</p>
        <p style="position:absolute;top:910px;left:65px;white-space:nowrap" class="ft12"><b>Loan&#160;Information</b>
        </p>
        <p style="position:absolute;top:964px;left:452px;white-space:nowrap" class="ft13"><b>Loan&#160;Amount</b></p>
        <p style="position:absolute;top:987px;left:452px;white-space:nowrap" class="ft10">$&#160;8,000.00</p>
        <p style="position:absolute;top:965px;left:65px;white-space:nowrap" class="ft13">
            <b>Start&#160;Date&#160;-&#160;First&#160;Payment</b>
        </p>
        <p style="position:absolute;top:988px;left:65px;white-space:nowrap" class="ft10">October&#160;17,&#160;1957</p>
        <p style="position:absolute;top:1021px;left:452px;white-space:nowrap" class="ft13"><b>Interest&#160;Rate</b></p>
        <p style="position:absolute;top:1045px;left:452px;white-space:nowrap" class="ft10">10.00&#160;%</p>
        <p style="position:absolute;top:1022px;left:65px;white-space:nowrap" class="ft13">
            <b>End&#160;Date&#160;-&#160;Last&#160;Payment</b>
        </p>
        <p style="position:absolute;top:1046px;left:65px;white-space:nowrap" class="ft10">November&#160;7,&#160;2015</p>
        <p style="position:absolute;top:1078px;left:452px;white-space:nowrap" class="ft13"><b>Late&#160;Fee</b></p>
        <p style="position:absolute;top:1102px;left:452px;white-space:nowrap" class="ft10">$&#160;2,000.00</p>
        <p style="position:absolute;top:1083px;left:65px;white-space:nowrap" class="ft13"><b>Payment&#160;Method</b></p>
        <p style="position:absolute;top:1116px;left:76px;white-space:nowrap" class="ft10">Cash</p>
        <p style="position:absolute;top:1220px;left:52px;white-space:nowrap" class="ft14"><a
                href="https://www.jotform.com/products/pdf-editor/?utm_source=pdf_file&utm_medium=referral&utm_term=203464871665059&utm_content=jotform_text&utm_campaign=pdf_file_branding_footer">Create&#160;your&#160;own&#160;automated&#160;PDFs&#160;with&#160;JotForm&#160;PDF&#160;Editor</a>
        </p>
        <p style="position:absolute;top:1223px;left:832px;white-space:nowrap" class="ft15">1</p>
    </div>


    <div id="page2-div" style="position:relative;width:892px;height:1262px;">
        <img width="892" height="1262"
            src="https://bl3302files.storage.live.com/y4m7eJh-NbkSeeOGwklpDhwW7xWEVKC6vt9oW39hYgSI7WoJzLNwJ9B-LMNRPTdezr3MZW0TTFbpgNUXZ9lRCkKXQsM3AZLuokdcXhztrf39JH_0vM1Nm4Sm3SAzIdfDkvwx40fiPhFvcIV7HJqKyxi-sd9g5hTfFlzth1D4iZqAoZOtTrSKTtIMwfZeJ58W5Ov?width=892&height=1263&cropmode=none"
            alt="background image" />
        <p style="position:absolute;top:58px;left:315px;white-space:nowrap" class="ft20">
            <b>Terms&#160;and&#160;Conditions</b>
        </p>
        <p style="position:absolute;top:125px;left:58px;white-space:nowrap" class="ft21"><b>I.&#160;ACKNOWLEDGMENT</b>
        </p>
        <p style="position:absolute;top:161px;left:58px;white-space:nowrap" class="ft22">
            The&#160;Lender&#160;<b>&#160;&#160;&#160;&#160;&#160;Sari&#160;Letham&#160;&#160;&#160;&#160;&#160;</b>&#160;agrees&#160;to&#160;lend&#160;<b>&#160;&#160;&#160;&#160;&#160;$&#160;8,000.00&#160;&#160;&#160;&#160;&#160;</b>&#160;to&#160;the&#160;Borrower&#160;<b>&#160;&#160;&#160;&#160;&#160;Bartel&#160;O'Monahan&#160;&#160;&#160;&#160;</b>&#160;under&#160;
        </p>
        <p style="position:absolute;top:179px;left:58px;white-space:nowrap" class="ft22">
            these&#160;terms.&#160;The&#160;Borrower&#160;acknowledges&#160;the&#160;loan&#160;amount&#160;defined&#160;above.
        </p>
        <p style="position:absolute;top:215px;left:58px;white-space:nowrap" class="ft21">
            <b>II.&#160;PAYMENT&#160;PLAN</b>&#160;
        </p>
        <p style="position:absolute;top:233px;left:58px;white-space:nowrap" class="ft22">
            The&#160;payment&#160;due&#160;date&#160;is&#160;every&#160;15th&#160;of&#160;the&#160;month.&#160;Payments&#160;will&#160;be&#160;made&#160;via&#160;<b>&#160;&#160;&#160;&#160;&#160;Cash&#160;&#160;&#160;&#160;&#160;</b>.
        </p>
        <p style="position:absolute;top:269px;left:58px;white-space:nowrap" class="ft22">
            The&#160;first&#160;payment&#160;will&#160;be&#160;on&#160;<b>&#160;&#160;&#160;&#160;&#160;Thursday,&#160;October&#160;17,&#160;1957&#160;&#160;&#160;&#160;&#160;</b>&#160;and&#160;continue&#160;monthly&#160;until&#160;the&#160;last&#160;payment&#160;
        </p>
        <p style="position:absolute;top:287px;left:58px;white-space:nowrap" class="ft22">
            which&#160;is&#160;on&#160;<b>&#160;&#160;&#160;&#160;&#160;Saturday,&#160;November&#160;7,&#160;2015&#160;&#160;&#160;&#160;&#160;</b>.
        </p>
        <p style="position:absolute;top:323px;left:58px;white-space:nowrap" class="ft21">
            <b>III.&#160;PROMISE&#160;TO&#160;PAY</b>
        </p>
        <p style="position:absolute;top:341px;left:58px;white-space:nowrap" class="ft22">
            The&#160;Borrower&#160;promises&#160;to&#160;pay&#160;the&#160;Lender&#160;<b>&#160;&#160;&#160;&#160;&#160;$&#160;8,000.00&#160;&#160;&#160;&#160;&#160;</b>&#160;and&#160;interest&#160;within&#160;12&#160;months.
        </p>
        <p style="position:absolute;top:377px;left:58px;white-space:nowrap" class="ft21">
            <b>IV.&#160;LATE&#160;CHARGES</b>
        </p>
        <p style="position:absolute;top:395px;left:58px;white-space:nowrap" class="ft22">
            Late&#160;charges&#160;of&#160;5%&#160;will&#160;be&#160;applied&#160;for&#160;any&#160;late&#160;payments.&#160;5&#160;days&#160;from&#160;the&#160;due&#160;date&#160;will&#160;be&#160;considered&#160;as&#160;late.
        </p>
        <p style="position:absolute;top:431px;left:58px;white-space:nowrap" class="ft21"><b>V.&#160;DEFAULT</b></p>
        <p style="position:absolute;top:449px;left:58px;white-space:nowrap" class="ft22">
            The&#160;following&#160;instances&#160;indicate&#160;default&#160;of&#160;this&#160;Loan&#160;Agreement,&#160;which&#160;means&#160;the&#160;remaining&#160;balance&#160;should&#160;be&#160;paid&#160;
        </p>
        <p style="position:absolute;top:467px;left:58px;white-space:nowrap" class="ft22">immediately:</p>
        <p style="position:absolute;top:485px;left:58px;white-space:nowrap" class="ft22">
            (a)&#160;If&#160;the&#160;Borrower&#160;fails&#160;to&#160;pay&#160;in&#160;due&#160;date;</p>
        <p style="position:absolute;top:503px;left:58px;white-space:nowrap" class="ft22">
            (b)&#160;Borrower's&#160;inability&#160;to&#160;pay&#160;debts;</p>
        <p style="position:absolute;top:521px;left:58px;white-space:nowrap" class="ft22">
            (c)&#160;The&#160;Borrower&#160;is&#160;dead&#160;or&#160;incompetent;</p>
        <p style="position:absolute;top:539px;left:58px;white-space:nowrap" class="ft22">
            (d)&#160;The&#160;Borrower&#160;is&#160;filing&#160;bankruptcy;</p>
        <p style="position:absolute;top:575px;left:58px;white-space:nowrap" class="ft21">
            <b>VI.&#160;SECURITY&#160;/&#160;COLLATERAL</b>
        </p>
        <p style="position:absolute;top:593px;left:58px;white-space:nowrap" class="ft22">
            For&#160;security&#160;and&#160;protection&#160;of&#160;the&#160;Lender,&#160;the&#160;Borrower&#160;gives&#160;the&#160;following&#160;security&#160;interest&#160;or&#160;mortgage:&#160;<b>Praesent&#160;</b>
        </p>
        <p style="position:absolute;top:611px;left:58px;white-space:nowrap" class="ft21"><b>blandit.&#160;N</b>.</p>
        <p style="position:absolute;top:647px;left:58px;white-space:nowrap" class="ft21"><b>VII.&#160;AMENDMENT</b></p>
        <p style="position:absolute;top:665px;left:58px;white-space:nowrap" class="ft22">
            This&#160;loan&#160;agreement&#160;can&#160;only&#160;be&#160;changed&#160;or&#160;modified&#160;through&#160;the&#160;written&#160;consent&#160;of&#160;both&#160;parties.
        </p>
        <p style="position:absolute;top:701px;left:58px;white-space:nowrap" class="ft21">
            <b>VIII.&#160;GOVERNING&#160;LAW</b>
        </p>
        <p style="position:absolute;top:719px;left:58px;white-space:nowrap" class="ft22">
            This&#160;agreement&#160;shall&#160;be&#160;governed&#160;under&#160;the&#160;laws&#160;of&#160;the&#160;<b>United&#160;States</b>.
        </p>
        <p style="position:absolute;top:755px;left:58px;white-space:nowrap" class="ft21"><b>IX.&#160;OWNERSHIP</b></p>
        <p style="position:absolute;top:773px;left:58px;white-space:nowrap" class="ft22">
            This&#160;Loan&#160;Agreement&#160;is&#160;not&#160;transferable.&#160;A&#160;written&#160;content&#160;of&#160;both&#160;parties&#160;is&#160;needed&#160;in&#160;order&#160;to&#160;transfer&#160;this&#160;
        </p>
        <p style="position:absolute;top:791px;left:58px;white-space:nowrap" class="ft22">Agreement.</p>
        <p style="position:absolute;top:827px;left:58px;white-space:nowrap" class="ft22">&#160;</p>
        <p style="position:absolute;top:916px;left:58px;white-space:nowrap" class="ft23">
            <b>Date&#160;of&#160;Execution&#160;of&#160;Both&#160;Parties</b>
        </p>
        <p style="position:absolute;top:916px;left:380px;white-space:nowrap" class="ft24">November&#160;7,&#160;2015</p>
        <p style="position:absolute;top:956px;left:517px;white-space:nowrap" class="ft23"><b>Lender's&#160;Signature</b>
        </p>
        <p style="position:absolute;top:956px;left:58px;white-space:nowrap" class="ft23">
            <b>Borrower's&#160;Signature</b>
        </p>
        <p style="position:absolute;top:1220px;left:52px;white-space:nowrap" class="ft25"><a
                href="https://www.jotform.com/products/pdf-editor/?utm_source=pdf_file&utm_medium=referral&utm_term=203464871665059&utm_content=jotform_text&utm_campaign=pdf_file_branding_footer">Create&#160;your&#160;own&#160;automated&#160;PDFs&#160;with&#160;JotForm&#160;PDF&#160;Editor</a>
        </p>
        <p style="position:absolute;top:1223px;left:832px;white-space:nowrap" class="ft26">2</p>




        <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
            crossorigin="anonymous"></script>


        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
            integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
            crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js"
            integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s"
            crossorigin="anonymous"></script>

        <script src="//cdnjs.cloudflare.com/ajax/libs/sass.js/0.6.3/sass.min.js"></script>
        <script>
            // ---------Responsive-navbar-active-animation-----------
            function test() {
                var tabsNewAnim = $('#navbarSupportedContent');
                var selectorNewAnim = $('#navbarSupportedContent').find('li').length;
                var activeItemNewAnim = tabsNewAnim.find('.active');
                var activeWidthNewAnimHeight = activeItemNewAnim.innerHeight();
                var activeWidthNewAnimWidth = activeItemNewAnim.innerWidth();
                var itemPosNewAnimTop = activeItemNewAnim.position();
                var itemPosNewAnimLeft = activeItemNewAnim.position();
                $(".hori-selector").css({
                    "top": itemPosNewAnimTop.top + "px",
                    "left": itemPosNewAnimLeft.left + "px",
                    "height": activeWidthNewAnimHeight + "px",
                    "width": activeWidthNewAnimWidth + "px"
                });
                $("#navbarSupportedContent").on("click", "li", function (e) {
                    $('#navbarSupportedContent ul li').removeClass("active");
                    $(this).addClass('active');
                    var activeWidthNewAnimHeight = $(this).innerHeight();
                    var activeWidthNewAnimWidth = $(this).innerWidth();
                    var itemPosNewAnimTop = $(this).position();
                    var itemPosNewAnimLeft = $(this).position();
                    $(".hori-selector").css({
                        "top": itemPosNewAnimTop.top + "px",
                        "left": itemPosNewAnimLeft.left + "px",
                        "height": activeWidthNewAnimHeight + "px",
                        "width": activeWidthNewAnimWidth + "px"
                    });
                });
            }
            $(document).ready(function () {
                setTimeout(function () { test(); });
            });
            $(window).on('resize', function () {
                setTimeout(function () { test(); }, 500);
            });
            $(".navbar-toggler").click(function () {
                setTimeout(function () { test(); });
            });
        </script>
        <script type="text/javascript"
            src="d4f8ca3e-269d-11eb-8b25-0cc47a792c0a_id_d4f8ca3e-269d-11eb-8b25-0cc47a792c0a_files/wz_jsgraphics.js"></script>

</body>

</html>